{% extends 'admin/base.html' %}

{% block content %}
<section class="custom-faculty-form">
    <h2 class="form-heading">{{ "Edit Gallery" if gallery.id else "Add Gallery" }}</h2>
    <form method="POST" enctype="multipart/form-data" class="faculty-form">
        <div class="form-row">
            <label for="faculty-name" class="form-label">Title:</label>
            <input type="text" id="faculty-name" name="title" class="form-input" value="{{ gallery.title if gallery else '' }}" required>
        </div>

        <div class="form-row">
            <label for="faculty-bio" class="form-label">Description:</label>
            <textarea id="faculty-bio" name="description" class="form-textarea">{{ gallery.description if gallery else '' }}</textarea>
        </div>

        <div class="form-row">
            <label for="faculty-photo" class="form-label">Image:</label>
            <input type="file" id="faculty-photo" name="photo" class="form-input">
        </div>

        {% if gallery.photo %}
        <div class="form-row">
            <p class="current-photo-label">Current Photo:</p>
            <img src="{{ url_for('static', filename=gallery.photo) }}" alt="Current Photo" class="current-photo">
        </div>
        {% endif %}

        <div class="form-row">
            <button type="submit" class="form-submit-btn">Save</button>
        </div>
    </form>
</section>
{% endblock %}