{% extends "base.html" %}
{% block content %}

<<section class="header">
    <div class="about-us-section">
        <div class="about-container">
            <div class="about-image">
                <img src="{{ url_for('static', filename='images/back3.jpeg') }}" alt="About Us Image">
            </div>
            <div class="about-content">
                <h2>हमारे बारे में</h2>
                <p id="about-text" class="truncate">
                    उत्तर प्रदेश औऱ बिहार सीमा पर स्थित किसान स्नातकोत्तर महाविद्यालय, तमकुहीरोड,
सेवरही (कुशीनगर) की स्थापना स्वनामधन्य स्व. डॉ. सिंहासन राय एवं लोकमान्य
इंटरमीडिएट कॉलेज के यशस्वी प्रधानाचार्य स्व. पंडित सुदामा शुक्ल द्वारा इस क्षेत्र में गन्ना
किसानों के सहयोग से 1974 में हुई। महाविद्यालय का शिलान्यास प्रदेश सरकार के तत्कालीन
कैबिनेट मंत्री माननीय पं0 राजमंगल पाण्डेय के कर कमलों से हुआ। संस्था के पास 18.32
एकड़ भूमि है, जो उत्तर प्रदेश शासन द्वारा प्रदत्त है। इस प्रकरण में स्व. पंडित पवहारी शरण
मिश्र की भूमिका उल्लेखनीय है।
कॉलेज को शासन से भूमि दिलाने में पूर्व सांसद और केन्द्रीय मंत्री स्व. राजमंगल पाण्डेय और
अस्थाई सम्बद्धता दिलाने में स्वर्गीय डी0पी0 राय(पूर्व विधायक) का विशेष योगदान है।
कॉलेज के हित चिन्तकों में स्व0 बाबू गेंदा सिंह, स्व0 रामायण राय, स्व0 श्री रामनगीना
मिश्र(पूर्व सांसद), स्व0 कृपाशंकर आर्य, श्रीमती शशि शर्मा, स्व0 रामसकल तिवारी एवं
माननीय पं0 नन्दकिशोर मिश्र का नाम विशेष रुप से उल्लेखनीय है।
गन्ना विकास समिति (सेवरही) के भूतपूर्व अध्यक्ष स्व0 ऋषिदेव तिवारी के कार्यकाल में प्राचीन
भवन के भूमि तल के पांच कमरों का निर्माण हुआ और स्व0 नरसिंह राय के कार्यकाल में
महाविद्यालय को अस्थाई सम्बद्धता दिसम्बर 1980 में प्राप्त हुई। साल 1981 में महाविद्यालय
अस्तित्व में आया। आरम्भ में कुछ समय के लिए स्व0 के0पी0 राय ने कार्यवाहक प्राचार्य के रूप
में कार्य किया। 10 फरवरी 1983 को कॉलेज के प्रथम स्थाई प्राचार्य के रूप में डॉ. वेदप्रकाश
पाण्डेय का आगमन हुआ। डॉ. पाण्डेय के कार्यकाल में संस्था को स्थाई सम्बद्धता जुलाई 1985
में प्राप्त हुई।
कॉलेज 1 मार्च 1988 से वेतन संदाय सूची में स्वीकृत हुआ। सन् 1996-97 में इसे हिन्दी और
राजनीतिशास्त्र विषयों में स्नातकोत्तर की सम्बद्धता प्राप्त हुई, जो सम्प्रति शासनादेश से
स्ववित्तपोषित है। पूर्व क्षेत्रीय विधायक स्व0 रामसकल तिवारी के सौजन्य से उत्तर प्रदेश के
तत्कालीन मुख्यमंत्री स्व0 वीरबहादुर सिंह का कॉलेज में आगमन हुआ था और उन्होंने कॉलेज
को 15 लाख रुपया अनुदान स्वरुप प्रदान किया था, जिससे महाविद्यालय में 10 कमरों का एक
पृथक प्रशासनिक भवन निर्मित हुआ। महाविद्यालय परिसर में पंजाब नेशनल बैंक की एक

शाखा कार्यरत है। पूर्व प्राचार्य डॉ. वेदप्रकाश पाण्डेय की कोशिशों, गन्ना किसानों, उदार
नागरिकों एवं जनप्रतिनिधियों के सहयोग से ‘दीनदयाल उपाध्याय किसान हाल’ का निर्माण
11000 वर्गफीट क्षेत्रफल में हुआ है। इसके निर्माण में पूर्व विधायक माननीय नन्दकिशोर मिश्र,
माननीय महेन्द्र यादव, माननीय रामाशीष राय (पूर्व एम.एल.सी.) एवं माननीय राजेश पाण्डेय
(पूर्व सांसद) का विशेष योगदान है। क्षेत्र के प्रतिष्ठित चिकित्सक रहे स्वर्गीय सुरेन्द्र राय
(मेहदिया) ने अपने पिता स्वर्गीय बलराम राय की स्मृति में कॉलेज के मुख्य द्वार का निर्माण
कराया। कॉलेज परिसर में उत्तर प्रदेश शासन के सौजन्य से राजकीय अनुसूचित जाति का
छात्रावास निर्मित है । छात्रसंघ भवन का निर्माण हो चुका है। विश्वविद्यालय अनुदान आयोग के
सौजन्य से स्वतंत्र पुस्तकालय भवन निर्मित है। पूर्व क्षेत्रीय विधायक एवं पूर्व राज्यमंत्री डॉ. पी0के0 राय के सौजन्य से कॉलेज में बाबू गेंदा सिंह
पी0जी0 ब्लॉक निर्मित है। महाविद्यालय में विकास की अनेक योजनाएं विचाराधीन हैं, जो
शासन, जनता, शिक्षक, कर्मचारी और छात्रों के सहयोग से क्रमशः पूर्ण हो सकेंगी। कॉलेज
दीनदयाल उपाध्याय गोरखपुर विश्वविद्यालय, गोरखपुर से सम्बद्ध है। महाविद्यालय के
सर्वांगीण विकास में संस्थापक प्राचार्य डॉ. वेदप्रकाश पाण्डेय का योगदान अप्रतिम है।
पूर्व विधायक एवं पूर्व कांग्रेस प्रदेश अध्यक्ष माननीय अजय कुमार ‘लल्लू’ (इस महाविद्यालय के
पूर्व छात्रसंघ अध्यक्ष) ने महाविद्यालय के विकास में विधायक निधि से महाविद्यालय प्रांगण को
मुख्य सड़क से जोड़ने वाले मार्ग को इण्टरलॉकिंग कराया है।
महाविद्यालय की वर्तमान प्रबन्ध समिति के अध्यक्ष श्री धीरेन्द्र उर्फ राजू राय एवं प्रबन्धक श्री
अनूप कुमार राय के नेतृत्व में महाविद्यालय विकास की ओर अग्रसर है।विकास के प्रथम चरण
में चहारदीवारी का निर्माण हुआ है। सुरक्षात्मक दृष्टि से जगह जगह सीसीटीवी कैमरे लगाए गए
हैं। शैक्षणिक वातावरण में सुधार हुआ है। दोनों युवा एवं उत्साही पदाधिकारियों का सत्प्रयास है
कि महाविद्यालय विकास की नई इबारत लिखे। महाविद्यालय में सम्प्रति स्नातक स्तर पर कला
संकाय के सात और स्नातकोत्तर स्तर पर दो विषयों के अध्यापन की व्यवस्था है।
निवर्तमान सांसद माननीय श्री कलराज मिश्र द्वारा सांसद निधि से प्राप्त पांच लाख रुपए
अनुदान से पी0जी0 ब्लॉक में बरामदे का निर्माण कार्य सम्पन्न हुआ है
वर्तमान सांसद डॉ. रमापति राम त्रिपाठी द्वारा रुपए 5 लाख छात्राओं के शौचालय हेतु दिया
गया जो निर्माणाधीन है।</p>
                <button id="read-more-btn" class="learn-more-btn">Read More</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}