{% extends "base.html" %}

{% block content %}
    <section class="header">

        <div class="wrapper">
		<div class="r_form_wrap">

			<div class="title">
				<p>संपर्क फ़ॉर्म</p>
			</div>

			<!-- Admission from -->
			<div class="r_form">
				<form method="post" onsubmit="sendmail(); reset(); return false;">
					<div class="input_wrap">
						<label for="yourname">आपका नाम</label>
						<div class="input_item">
							<i class="fa fa-user" id="icon"></i>
							<input type="text" name="your name" class="input" id="yourname" placeholder="नाम दर्ज करें" required>
						</div>
					</div>
					<div class="input_wrap">
						<label for="emailaddress">ईमेल पता</label>
						<div class="input_item">
							<i class="fa fa-envelope" id="icon"></i>
							<input type="email" name="email address" class="input" id="emailaddress" placeholder="ईमेल आईडी दर्ज करें" required>
						</div>
					</div>

					<div class="input_wrap">
						<label for="phone">फोन</label>
						<div class="input_item">
							<i class="fa fa-commenting" id="icon"></i>
                            <textarea name="phone" class="mess" id="phone" placeholder="संदेश लिखें….." size="500"></textarea>
						</div>
					</div>


					<input type="submit" class="button" value="संदेश भेजें">
					<div ></div>
					<input type="reset" class="clear_ad" value="साफ करें">

				</form>
			</div>
        </div>
        </div>
    </section>

{% endblock %}
