{% extends "base.html" %}
{% block content %}
    <section class="header">
        <section class="gallery-section">
            <div class="gallery-container">
                {% for image_item in gallery %}
                <div class="gallery-item">
                    <div class="gallery-image">
                        <img src="{{ url_for('static', filename=image_item.photo) }}" alt="Gallery Image">
                    </div>
                    <div class="gallery-content">
                        <h2>{{ image_item.title }}</h2>
                        <p>{{ image_item.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}